*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway';
}
html
{
    font-size: 62.5%;
}
.section-1
{
    width: 100%;
    height: 100vh;
    background: url("back.jpg") no-repeat;
}
.banner
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
}
.banner-text
{
    margin-bottom: 4rem;
    font-size: 9rem;
    color: white;
}
.banner-text span
{
    font-family: 'PT Sans';
    text-transform: uppercase;
    font-weight: 500;
    position: absolute;
    font-size: 7rem;
    width: 90rem;
    left: 16%;
    top: 13rem;
    opacity: 0;
    text-align: center;
}
.heading-1
{
    animation: animation-1 12s 3s infinite;
}
.heading-2
{
    animation: animation-1 12s 6s infinite;
}
.heading-3
{
    animation: animation-1 12s 9s infinite;
}
.heading-4
{
    animation: animation-1 12s 12s infinite;
}

@keyframes animation-1
{   
    0%
    {
        transform: translateZ(8rem);
        letter-spacing: 1.6rem;
        opacity: 0;
    }
    3%
    {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1rem;
    }
    25%
    {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1rem;
    }
    28%
    {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing:1.6rem;
    }
    100%
    {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 1.6rem;
    }
}

.banner-para
{
    font-size: 4rem;
    color: #fff;
    font-family: 'Kiwi Maru';
    background-color: rgba(0,0,0,0.7);
    margin-bottom: 3rem;
    padding: 1rem 3rem;
    opacity:0;
    animation: animate-fade 1s 1.5s ;
    animation-fill-mode: forwards;
}

@keyframes animate-fade
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

.banner-btn
{
    width: 25rem;
    height: 6rem;
    background: linear-gradient(90deg,#9b0e0e,#7a1010);
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 3rem;
    text-transform: uppercase;
    box-shadow: 1rem 2rem 3rem rgba(0,0,0,0.5);
    cursor: pointer;
    opacity: 0;
    animation: animate-fade 1s 2s;
    animation-fill-mode: forwards;
    position: relative;
    overflow: hidden;
}

.banner-btn::before
{
    content: "";
    width:100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top:0;
    left: -110%;
    transition: 0.5s;
    transform: skewX(-30deg);
}
.banner-btn:hover::before
{
    left:110%
}

.navbar
{
    width: 100%;
    height: 8rem;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top:0;
}

.logo
{   
    padding: 0.5rem;
    position: absolute;
    top:1.5rem;
    left:4rem;
    font-family: 'PT Sans';
    color: #eee;
    text-transform: uppercase;
    font-size:3rem;
}
.menu
{
    width:3rem;
    height: 3rem;
    position: fixed;
    z-index: 1000;
    top:2.4rem;
    left: 95%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.change.menu:hover .line-1
{
    margin-left: 50%;
    transform: rotate(45deg);
    transform-origin: left; 
}

.change.menu:hover .line-3
{
    margin-left: 0%;
  transform: translateY(-2.8rem) rotate(-45deg);
  transform-origin: right;
}
.line-1
{
    height:0.2rem;
    background-color: white;
    width: 50%;
    transition: 0.3s;
}
.line-2
{
    height:0.2rem;
    background-color: white;
    width: 100%;
    margin-top: 1.3rem;
}
.line-3
{
    height:0.2rem;
    background-color: white;
    width: 50%;
    margin-left: 50%;
    margin-top: 1.3rem;
    transition: 0.3s;
}
.s1
{
    color: #7a1010;
    font-weight: 700;
}
.navbar
{
    height: 8rem;
    z-index: 100;
    transition: all 0.5s;
}
.nav-list
{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    font-size: 4rem;
    height: 0rem;
    transition: 0.2s;  
}
.menu:hover .line-1
{
  margin-left: 50%;
  transform: translateY(2.8rem) rotate(-45deg);
  transform-origin: left;
}
.menu:hover .line-2
{
    transform: rotate(90deg);
}
.menu:hover .line-3
{
   margin-left: 0%;
   transform: rotate(45deg);
   transform-origin: right; 
}
.change.navbar
{
    height: 100vh;
    transition: all 0.5s;
}
.change .nav-list 
{
    height: 60vh;
    transition: all 0.5s 0.3s;
}
.nav-link
{  
    opacity: 0;
    font-family: 'Paytone One', sans-serif;
    padding-bottom: 3rem; 
    font-weight: 600;
    transition: 0.3s;
    letter-spacing: 0.3rem;
    cursor: pointer;
    transition: 0.2s;
}
.change .nav-link
{
    opacity: 1;
    transition: all 0.5s 0.3s;
}
.nav-link:hover
{
    color: #7a1010;
}


/* Section-2 */
.section-2
{
    background-color: #222020;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}
.video-wrapper
{
    width: 70rem;
    height: 35rem;
    position: absolute;
    top: 4rem;
    left: 50rem;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 3rem 3rem 3rem rgba(0,0,0,0.7);
}
.video
{   
    width: 100%;
    height: 100%;
    object-fit:cover;
    opacity: 0.3;
    position: relative;
    transition: 0.4s;
}
.section-heading
{
    font-family: 'PT Sans',sans-serif;
    font-size:5rem;
    color: #ddd;
    margin-left: 3rem;
}
.section-heading-line
{
    height: 0.2rem;
    width: 10rem;
    background-color: #ddd;
    position: absolute;
    left: 23rem;
}
.section-2-para
{
    position: absolute;
    bottom:3rem;
    right: 5.5rem;
    width:70rem;
    color: #ddd;
    border-top: #ddd double;
    border-bottom: #ddd double;
    padding: 2rem;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    text-shadow: 0.6rem 0.6rem 0.6rem rgba(0,0,0,0.7);
}
.fa-quote-left
{
    margin-bottom: 1rem;
    align-self: flex-start;
}
.fa-quote-right
{
    margin-top: 1rem;
    align-self: flex-end;
}
.controls
{
    position: absolute;
    width: 100%;
    bottom: -5rem;
    background-color: rgba(0,0,0,0.7);
    transition: 0.4s;
}
.buttons
{
    padding: 2rem 1rem 1rem 1rem;
}
.buttons button
{
    background: none;
    cursor: pointer;
    border:none;
}
.buttons i
{
    color: white;
    font-size: 2.8rem;
}
.video-bar-wrapper
{
    width:100%;
    height:0.7rem;
    background-color: black;
    position: absolute;
    top:0;
    left:0;
}
.video-bar
{
    width: 0;
    height: 100%;
    background-color: #d30819;  
    transition: 1.5s;
}
.video-wrapper:hover .controls
{
    bottom:0rem;
}

/* Section-3 */
.swiper-container
{
    width: 100%;
    display: flex;
    justify-content: left;
}
.section-3
{
    width: 100%;
    height: 100vh;
    background-color: #03070e;
    display: flex;
    align-items: center;
}
.pricing-cards-wrapper
{
    width:100%; 
    display: flex;
    margin-left: 15rem;
    justify-content: space-evenly;
}
.pricing-card
{
    width:21rem !important;
    height:37rem !important;
    background-color: #181b1d;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 6rem rgba(0,0,0,0.7);
}
.pricing-card-front
{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.pricing-card-heading
{
    font-size: 2rem;
    font-weight: 300;
    color: white;
    width: 100%;
    height: 4.5rem;
    padding-top: 6%;
    padding-left: 1.7rem;
}
.heading-free
{
    background: linear-gradient(90deg,#087285,#0da5d3);
    border-radius: 1rem 1rem 0 0;
}
.heading-basic
{
    background: linear-gradient(90deg,#946809,#bdba0e);
    border-radius: 1rem 1rem 0 0;
}
.heading-standard
{
    background: linear-gradient(90deg,#a10c14,#e23b3b);
    border-radius: 1rem 1rem 0 0;
}
.heading-premium
{
    background: linear-gradient(90deg,#0b7e48,#3be286);
    border-radius: 1rem 1rem 0 0;
}
.pricing-card-price
{
    font-family: 'Paytone One';
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
}
.pricing-card-list li
{
    margin-bottom: 1.2rem;
}
.pricing-card-list i
{
    font-size: 1.3rem;
    width: 3rem
}
.pricing-card-list span
{
    font-size: 1.3rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}
.list-free li
{
    color: #0da5d3;
}
.list-basic li
{
    color: #bdba0e;
}
.list-standard li
{
    color: #e23b3b;
}
.list-premium li
{
    color: #3be286;
}
.pricing-card-btn
{
    width:15rem;
    height:4rem;
    margin-bottom: 1.7rem;
    border-radius:3rem;
    font-size: 1.3rem;
    border: none;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba(0,0,0,0.7);
}
.btn-free
{
    background-color: #0da5d3;
}
.btn-basic
{
    background-color: #bdba0e;
}
.btn-standard
{
    background-color: #e23b3b;
}
.btn-premium
{
    background-color: #3be286;
}

/* footer */
.footer{
    height: 6rem;
    width: 100%;
    background-color: #222020;
}
.footer p{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    transform: translateY(1.5rem);
    text-align: center;
}